body {
    background-color: lightblue;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.border {
    border: solid 2px cadetblue;
    margin: 30px;
    padding: 15px;
}

.count {
    background-color: cadetblue;
}

.btn {
    border: solid 2px black;
    box-shadow: black;
    background-color: aquamarine;
}

.limit {
    color: red;
    font-size: 25px;
}